In [1]:
# 각 데이터셋 호출
df_challenger = pd.read_csv("tft-match-data\\TFT_Challenger_MatchData.csv")
df_grandmaster = pd.read_csv("tft-match-data\\TFT_Grandmaster_MatchData.csv")
df_master = pd.read_csv("tft-match-data\\TFT_Master_MatchData.csv")
df_diamond = pd.read_csv("tft-match-data\\TFT_Diamond_MatchData.csv")
df_platinum = pd.read_csv("tft-match-data\\TFT_Platinum_MatchData.csv")

In [2]:
# 각 데이터 셋에 티어 컬럼 추가
df_challenger["tier"] = 'ch'
df_grandmaster["tier"] = 'gm'
df_master["tier"] = 'ms'
df_diamond["tier"] = 'dia'
df_platinum["tier"] = 'pt'

In [3]:
# 각 데이터프레임을 하나의 데이터 프레임으로 합침
df_integrate = pd.concat([df_challenger, df_grandmaster, df_master, df_diamond, df_platinum], ignore_index = True)
df_integrate.tail(8)

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
399990,KR_4296831363,2049.954102,7,19,8,1016.631775,"{'Demolitionist': 1, 'MechPilot': 1}","{'Rumble': {'items': [6], 'star': 1}}",pt
399991,KR_4296831363,2049.954102,7,31,6,1701.195190,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 2, '...","{'Graves': {'items': [36], 'star': 2}, 'Blitzc...",pt
399992,KR_4296831363,2049.954102,8,38,1,2041.694946,"{'Blaster': 1, 'Chrono': 6, 'DarkStar': 1, 'De...","{'TwistedFate': {'items': [], 'star': 2}, 'Cai...",pt
399993,KR_4296831363,2049.954102,7,34,4,1862.439209,"{'Chrono': 2, 'Cybernetic': 1, 'Protector': 2,...","{'TwistedFate': {'items': [58], 'star': 2}, 'X...",pt
399994,KR_4296831363,2049.954102,8,33,5,1799.791870,"{'Chrono': 2, 'Cybernetic': 1, 'Infiltrator': ...","{'Xayah': {'items': [5], 'star': 2}, 'Yasuo': ...",pt
399995,KR_4296831363,2049.954102,8,38,2,2041.694946,"{'Blaster': 1, 'DarkStar': 1, 'MechPilot': 1, ...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",pt
399996,KR_4296831363,2049.954102,8,35,3,1911.133057,"{'Blaster': 2, 'Chrono': 1, 'Demolitionist': 1...","{'Ziggs': {'items': [44, 48], 'star': 3}, 'Mal...",pt
399997,KR_4296831363,2049.954102,8,31,7,1700.155151,"{'Blaster': 3, 'Chrono': 5, 'Cybernetic': 2, '...","{'Caitlyn': {'items': [14], 'star': 3}, 'Leona...",pt